<div class="container">
    <div class="detail">
      <form class="example-form">
          <h2 class="title">Category Detail</h2>
          <mat-form-field class="formInput">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="category.name" name="name">
          </mat-form-field>
          <br>
          <div class="btnSave">
            <button mat-raised-button color="primary" (click)="save()">
              Save
            </button>
          </div>
      </form>
    </div>
</div>
    
