<div class="container">
    <div class="form-add">
      <h2 class="title">Category Add</h2>
      <form class="example-form" (ngSubmit)="Add()">
          <mat-form-field class="formInput">
              <mat-label>Id</mat-label>
              <input matInput name="id" [(ngModel)]="newCategory.id">
          </mat-form-field>
          <br>
          <mat-form-field class="formInput">
            <mat-label>Name</mat-label>
            <input matInput name="name" [(ngModel)]="newCategory.name">
          </mat-form-field>
          <br>
          <div class="btnAdd">
            <button type="submit" mat-raised-button color="primary">
              Add
            </button>
          </div>
      </form>
    </div>
</div>
    
  
